nav{
    background-color: lightblue;
    padding: 10px;
}

nav img{
    width: 70px;
}

nav ul{
    float: right;
    list-style-type: none;
}

ul li{
    padding: 10px;
    display: inline-block;
}

li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}