<app-header></app-header>

<form #basicForm="ngForm" (submit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter User Name" /><br><br>
    <input type="text" ngModel name="email" placeholder="Enter email" /><br><br>
    <input type="text" nngModel name="password" placeholder="Enter password" /><br><br>
    <button>Register</button>
</form>

<h1 [style.color]="color">{{title}}</h1>
<button (click)="updateColor()">Update Color</button>

<ul>
    <li>{{userData.user}}</li>
</ul>

<h1 *ngIf="display">Heading Tag</h1>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<br />
<input type="text" placeholder="Enter New Task" #task /><br /><br />
<button (click)="addTask(task.value)">Add New Task</button>
<br><br>

<ul *ngFor="let items of list">

    <li>{{items.name}} <button (click)="removeTask(items.id)">Remove</button> </li>

</ul>